* {
  margin: auto;
  padding: 0;
}

body {
  background-color: white;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.cards {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #dcdada;
  top: 60px;
  min-height: 500px;
  width: 800px;
  height: auto;
  border: 3px solid black;
  border-radius: 15px;
  margin-bottom: 50px;
}

.info {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: black;
  margin-left: 5px;
  margin-top: 10px;
}

.info h1 {
  font-weight: bold;
  font-size: 2rem;
  float: left;
}

.info h2 {
  font-size: 2rem;
}

.name h2 {
  text-align: center;
  font-size: 4rem;
}

.form {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  float: right;
  padding-left: 20px;
}
.button button {
  height: 30px;
}

.nameInput {
  width: 400px;
  height: 30px;
}
